!!! 5
%html(lang="en-US")
  
  %body
    %h2 Your account is on hold
    %p Sorry, your payment was declined. Please try again or enter a new payment method. Account access will be restored as soon as payment is made.
    %footer
      &copy 2013 MyFLiX
