!!! 5
%html(lang="en-US")
  
  %body
    %h2 Reset Password
    %p Click link below to reset your password
    = link_to "Reset My Password", new_password_url(@token)
    %footer
      &copy 2013 MyFLiX
