!!! 5
%html(lang="en-US")
  
  %body
    %h2 Great News!
    %p #{@invitation.inviter.full_name} has invited you to join MyFLiX
    %p= @invitation.message
    = link_to "Accept this invitation", '#'
    %footer
      &copy 2013 MyFLiX
